*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.header{
    background-color: #222222;
}

.panel_icons{
    padding-top: 18px;
    padding-bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_logo{
    margin-right: 41px;
}

.margin_second_menu{
    margin-right: 33px;
}

.brand{
    background-color: #F1E4E6;
    display: flex;
    justify-content: space-around;
}

.brand_box{
    display: flex;
    justify-content: space-between;
}

.pg_brand{
    font-family: Lato;
    font-style: normal;
    font-weight: 1000;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.pg_fashion_brand{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 58px;
    color: #222222;
}

.color_fashion{
    color: #F16D7F;
}

.border_pg_brand{
    border-left: solid 15px #F16D7F;
    padding-left: 16px;
    margin-top: 290px;
    margin-right: 150px;
}

.catalogs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
}

.margin_catalogs{
    margin-bottom: 30px;
}

.header_items{
    margin-top: 96px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}

.pg_items{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}

.content{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article{
    margin-bottom: 30px;
    background: #F8F8F8;
}

.name_article, .pg_article, .price_article{
    padding-left: 18px;
}

.name_article{
    padding-top: 25px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    box-sizing: border-box;
}

.pg_article{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    max-width: 360px;
    padding-top: 12px;
    max-width: 300px;
}

.price_article{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 18px;
    padding-bottom: 20px;
}

.view_catalog{
    margin-top: 63px;
    text-align: center;
    margin-bottom: 103px;
}

.browse_catalog{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
    border: 1px solid #FF6A6A;
    padding: 14px 38.5px;
}

.benefits_background{
    background: #222224;
}

.benefits{
    padding-top: 103px;
    padding-bottom: 104px;
    display: flex;
    justify-content: space-between;
}

.delivery{
    text-align: center;
}

.hd_delivery{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
}

.pg_delivery{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    max-width: 360px;
    margin-top: 16px;
}
.subscribe{
    background-image: url(img/subscribe.jpg);
    height: 449px;
}

.subscribe_blocks{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.photo_subscribe{
    padding-top: 86px;
}

.pg_subscribe{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
    max-width: 360px;
    padding-top: 40px;
    padding-bottom: 126px;
}

.pg_input_subscribe{
    font-family: Lato;
    font-style: normal;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    padding-top: 150px;
    padding-right: 125px;
}

.bold_pg_input{
    font-weight: bold;
    font-size: 24px;
}

.input_subscribe{
    height: 50px;
    width: 256px;
    margin-top: 32px;
}

.button_subscribe{
}

.footer{
    background-color: #222224;
}

.footer_blocks{
    display: flex;
    justify-content: space-between;
}

.pg_footer{
    padding: 30px 0;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer_icons{
    padding: 24px 0;
}

.padding_icon{
    padding-right: 7px;
}